<template id="about-template">
  <section
    id="aboutme"
    class="w-full max-w-full mb-4 bg-[#18181b] rounded shadow-inner p-4 z-10 relative"
  >
    Abou Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
    iure, perferendis mollitia quo laborum iste aut accusantium. Id, cumque a.
    Quas doloremque repudiandae ullam reiciendis enim ut veritatis sint iste
    excepturi iusto. Est commodi id omnis facere distinctio officiis labore
    minima, ab accusamus dicta quo, velit voluptates veritatis praesentium rerum
    inventore ratione. Nemo dolor iusto fugiat cupiditate omnis quam, optio
    doloribus, unde aliquam reprehenderit voluptatibus tempora vel! Quos, harum
    hic consequuntur temporibus enim at reiciendis nulla minima quo sequi
    provident laboriosam inventore cupiditate soluta veritatis pariatur? Qui
    debitis reiciendis asperiores veritatis eveniet aut nam quas. Veritatis
    pariatur nesciunt adipisci? Accusantium tempora, quia, error distinctio
    velit explicabo assumenda odit at, unde cupiditate odio nihil ducimus
    corporis dignissimos vel. Repellendus sed recusandae enim optio omnis, atque
    deleniti quod expedita voluptas. Neque exercitationem alias tempora sed
    impedit ipsa pariatur sequi ad corporis repellendus amet animi molestiae ab
    iure aspernatur a ex excepturi error, autem omnis, illo expedita, sit totam.
    Harum laboriosam vero sequi vel corporis error voluptatum cupiditate, quia
    autem quasi iusto consequuntur dignissimos earum, dolorem molestiae minus
    temporibus repellat ipsam deserunt ratione dolorum laudantium non similique?
    Voluptate odit atque aspernatur itaque, repudiandae nihil distinctio
    laboriosam ab a rerum quam nesciunt blanditiis cum fugit ipsam iusto nemo
    est nam hic vel, consequuntur deleniti molestiae! Necessitatibus id, iste
    modi fugiat iure asperiores nobis pariatur, reprehenderit, nulla corporis
    aspernatur deserunt numquam tempore cupiditate maxime ducimus ipsa quos
    rerum perferendis minima temporibus sunt? Ab pariatur eum blanditiis soluta
    temporibus cum enim saepe obcaecati esse. Natus possimus dolores cumque ex
    praesentium, sapiente vitae! Consequuntur dolore quas ex voluptatibus
    consectetur vitae vel nostrum harum repellendus, sunt id dolores officia
    dolorem at illum nesciunt ab ipsa cum tenetur possimus vero incidunt
    doloribus accusantium? Dolorem voluptatem iusto quasi in, nulla, reiciendis
    exercitationem asperiores eaque eligendi quidem vero at nostrum tenetur
    natus quam expedita eveniet hic iste. Incidunt, vitae nulla. Asperiores
    dolorum officia, fuga neque culpa, similique temporibus quas est quae
    reprehenderit incidunt! Saepe hic similique adipisci aliquam eaque
    repudiandae provident id illo pariatur ratione. Sequi incidunt temporibus
    quae. Facilis expedita eum doloremque nesciunt iure, asperiores veritatis a!
    Corrupti nisi, officia reiciendis laboriosam aliquid totam sequi fugit
    nesciunt exercitationem minus nobis, possimus perferendis ipsum itaque
    recusandae ab, quos magni fuga dolores in unde rem nulla! Nulla tenetur
    repellendus blanditiis recusandae ipsum porro, reprehenderit, ipsa culpa
    rerum iusto odit est, dicta corrupti inventore neque beatae totam corporis
    excepturi dolorum autem impedit saepe. Nesciunt reprehenderit nobis non quam
    beatae exercitationem hic aliquam nostrum minima, commodi, facilis quidem
    sit assumenda? Distinctio suscipit beatae eligendi iste, quisquam, tempore
    dicta reiciendis ipsam, est esse officia. Repellendus sapiente sint
    consequuntur ipsam, libero ut, facere qui eveniet dolorem illo, eaque
    voluptates consectetur expedita cum quisquam velit amet commodi minus a
    doloribus quas atque odit ab. Harum, tempore! Ipsam atque quae, accusamus
    provident sed dolorem laudantium modi reprehenderit perspiciatis ut corporis
    id? Unde quo culpa debitis praesentium iure enim nam voluptas reprehenderit
    explicabo incidunt. Saepe voluptate voluptatibus vitae impedit assumenda
    nostrum molestiae officiis! Pariatur doloribus tempore eos magni illum!
  </section>
</template>
